# venv & python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.DS_Store

# env
.env
.env.local

# app artifacts
cache/
logs/
vectorstores/**
reports/            # ← 성능/메트릭 산출물 무시
.openai/

# streamlit
.streamlit/

# notebooks
*.ipynb_checkpoints

# OS / editor
.vscode/
.idea/
